<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Laconix</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Oswald" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  {{{body}}}
</body>
</html>